In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
red_wine = Path("Resources/winequality-red.csv")
white_wine = Path("Resources/winequality-white.csv")

# Read Data File and store into Pandas DataFrames
redwine_data = pd.read_csv(red_wine,delimiter=';')
whitewine_data = pd.read_csv(white_wine,delimiter=';')

In [2]:
# Add Type column to ditinguish between red and white wine
redwine_data.insert(0, column = "Type", value = "Red")
redwine_data['Wine Quality Categorisation'] = redwine_data['quality'].apply(lambda x: 1 if x >= 6 else 0)
redwine_data.head()

,Type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Wine Quality Categorisation
0,Red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,Red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,Red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,Red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,Red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [3]:
# Add Type column to ditinguish between red and white wine
whitewine_data.insert(0, column = "Type", value = "White")
whitewine_data['Wine Quality Categorisation'] = whitewine_data['quality'].apply(lambda x: 1 if x >= 6 else 0)
whitewine_data.head()

,Type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Wine Quality Categorisation
0,White,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,1
1,White,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,1
2,White,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,1
3,White,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1
4,White,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1

In [6]:
#Drop column quality as its replaced by Wine Quality Categorisation
redwine_dropped = redwine_data.drop(columns=['quality'])
redwine_dropped.head()

,Type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Wine Quality Categorisation
0,Red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,Red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,Red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,Red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,Red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [7]:
##Drop column quality as its replaced by Wine Quality Categorisation
whitewine_dropped = whitewine_data.drop(columns=['quality'])
whitewine_dropped.head()

,Type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Wine Quality Categorisation
0,White,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,1
1,White,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,1
2,White,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,1
3,White,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,1
4,White,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,1

In [9]:
# save combined data to csv
whitewine_dropped.to_csv('whitewine_quality.csv')
redwine_dropped.to_csv('redwine_quality.csv')